/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-res-builder {
	background-color: black;
	color: #fff;
	padding: 1.2rem;
	width: 50%;
	display: flex;
	flex-direction: column;
}

@media (max-width: 768px) {
	.wp-block-create-block-wp-res-builder {
		width: 100%;
		margin: 1rem auto;
	}
}
